html
 head
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  title= "Solve for me"
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  script(src="https://unpkg.com/lnpay-js@^0.1/dist/lnpay.min.js")
    
  
  style
    include ./profile.css
    include ./common.css
    include ./libs/tingle/tingle.css
  script
    include ./profile.js
    include ./libs/tingle/tingle.js
    include ./libs/qrcodejs/qrcode.min.js
    

 body
  nav(class='navbar navbar-inverse')
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand', href=root_domain) Solve For Me
    
      if unsolvedProblems
        ul(class='nav navbar-nav')
          li(class='')
            a(href=root_domain) Home
          li
            a(href='./submit_a_problem') Submit Problem
          li
            a(href='./closed_puzzles') Solved Problems
      else
        ul(class='nav navbar-nav')
          li(class='')
            a(href=root_domain) Home
          li
            a(href='./submit_a_problem') Submit Problem
          li(class='')
            a(href='./closed_puzzles') Solved Problems
      
      ul(class='nav navbar-nav navbar-right')
        li
          a(href='./faq_page')
            span(class="glyphicon glyphicon-bitcoin")
            span(class='nav_elements_font') what is this? (FAQ)
        if userAuthenticated
          div(class="nav navbar-nav navbar-right")
            div(class='dropdown')
              button(class="dropbtn nav_elements_font")='Hello '+userName+"▼"
              div(class="dropdown-content")
                a(href=root_domain+'/signout') Sign out
                a(href='')=balance 
        else
          li
            a(href='./signup')
              span(class="glyphicon glyphicon-user")
              span(class='nav_elements_font') Sign up
          li
            a(href='./signin')
              span(class='glyphicon glyphicon-log-in')
              span(class='nav_elements_font')  Log in
    
  div(id='main_container')
    div(class='profile-div shadow')
      div(class='puzzle_card')
        div(class='user-info')
          font(class='sub_heading_font')="Username: "+userName
          font(class='sub_heading_font')="Balance: "+balance+" sats"
        br
        font(id='message') poop
        a(class='btn', onclick='withdraw(\"'+userName+'\",'+balance+')') Withdraw
        
